<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/custom.css">
    <style>
        /* 隐藏未编译的变量 */
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak style="width:100%;background-color: #ffffff;padding-top:20px" >
    <div style="margin-left:20px;">
        <div class="nav-title">
            <el-breadcrumb separator="/">
                <el-breadcrumb-item><a href="javascript:;">贷后资产项目管理</a></el-breadcrumb-item>
                <el-breadcrumb-item><a href="./carparkindex.html">停车场基本信息</a></el-breadcrumb-item>
                <el-breadcrumb-item>新增停车场基本信息</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div class="demo-input-suffix" style="margin-top:20px">
            <el-form ref="form" :model="form" label-width="130px">
                <el-row>
                    <el-col>
                            <label>基本信息</label>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="停车场名称：">
                            <el-input
                                    placeholder=""
                                    v-model="carparkName"
                                    style="width:215px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="16">
                        <el-form-item label="停车场地址：">
                            <el-select  v-model="caddress.sheng" style="flex: 1;width:155px;" placeholder="请选择省份" @change="getCityData">
                                <el-option
                                        v-for="item in addressArray"
                                        :key="item.areacode"
                                        :label="item.areaname"
                                        :value="item.areaname"
                                >
                                </el-option>
                            </el-select>
                            <el-select  v-model="caddress.shi" style="flex: 1;width:155px;" placeholder="请选择市区"
                                        @change="getAreaData">
                                <el-option
                                        v-for="item in cityArray"
                                        :key="item.areacode"
                                        :label="item.areaname"
                                        :value="item.areaname">
                                </el-option>
                            </el-select>
                            <el-select  v-model="caddress.qu" style="flex: 1;width:155px;" placeholder="请选择县"
                                        @change="onAreaChanged">
                                <el-option
                                        v-for="item in areaArray"
                                        :key="item.areacode"
                                        :label="item.areaname"
                                        :value="item.areaname">
                                </el-option>
                            </el-select>
                            <el-input
                                    placeholder="请输入详细地址"
                                    v-model="xxdz"
                                    style="width:230px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="开发商名称：">
                            <el-input
                                    placeholder=""
                                    v-model="buildingName"
                                    style="width:215px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="物业名称：">
                            <el-input
                                    placeholder=""
                                    v-model="developer"
                                    style="width:285px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="管理方名称：">
                            <el-input
                                    placeholder=""
                                    v-model="management"
                                    style="width:285px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="运营方名称：">
                            <el-input
                                    placeholder=""
                                    v-model="buildingName"
                                    style="width:215px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="停车场性质：">
                            <el-select
                                    v-model="carParkRankValue"
                                    placeholder="请选择停车场性质"
                                    style="width:285px">
                                <el-option
                                        v-for="item in carParkRank"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="停车场类型：">
                            <el-select
                                    v-model="carParkRankValue"
                                    placeholder="请选择停车场类型"
                                    style="width:285px">
                                <el-option
                                        v-for="item in carParkRank"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="停车场评级：">
                            <el-select
                                    v-model="carParkRankValue"
                                    placeholder="请选择停车场评级"
                                    style="width:215px">
                                <el-option
                                        v-for="item in carParkRank"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="车位总数量：">
                            <el-input
                                    type="number"
                                    placeholder=""
                                    v-model="carparkTotal"
                                    style="width:285px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="贷后管理车位数：">
                            <el-input
                                    type="number"
                                    placeholder=""
                                    v-model="carparkTotalLoan"
                                    style="width:285px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="6">
                        <el-form-item label="录入人：">
                            <el-input
                                    placeholder=""
                                    v-model="buildingName"
                                    style="width:215px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="8">
                        <el-form-item label="录入时间：">
                            <el-input
                                    placeholder=""
                                    v-model="buildingName"
                                    style="width:285px">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-form ref="form" :model="form" label-width="220px">
                <el-row>
                    <el-col>
                        <label>资质文件</label>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="16">
                        <el-form-item label="国有土地使用证：">
                            <div>
                                <el-upload
                                    action="https://jsonplaceholder.typicode.com/posts/"
                                    list-type="picture-card"
                                    :on-preview="handlePictureCardPreview"
                                    :on-remove="handleRemove">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="16">
                        <el-form-item label="建设用地规划许可证：">
                            <div>
                                <el-upload
                                        action="https://jsonplaceholder.typicode.com/posts/"
                                        list-type="picture-card"
                                        :on-preview="handlePictureCardPreview"
                                        :on-remove="handleRemove">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="16">
                        <el-form-item label="建设工程规划许可证：">
                            <div>
                                <el-dialog :visible.sync="dialogVisible">
                                    <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                                <el-upload
                                        action="https://jsonplaceholder.typicode.com/posts/"
                                        list-type="picture-card"
                                        :on-preview="handlePictureCardPreview"
                                        :on-remove="handleRemove">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col>
                        <el-form-item>
                            <el-button type="success" style="margin-left:30%;" @click="addSubmit">提交</el-button>
                            <el-button type="primary" style="margin-left:25px;" @click="addCancel">取消</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </div>
    </div>
</div>

<script src="../../js/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="../../vue/vue.js"></script>
<script src="../../vue/vue-resource.js"></script>
<!--import moment js-->
<script src="../../moment/moment.js"></script>
<!-- import JavaScript -->
<script src="../../vue/index.js"></script>
<script src="../../js/util.js"></script>
<script src="../../js/carpark/carparkadd.js"></script>
</body>
</html>