<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../css/index.css">
    <style>
        /* 隐藏未编译的变量 */

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak style="width:100%;background-color: #ffffff;padding-top:10px">
    <div class="nav-title">
        <a href="BuildingInfo.html" style="text-decoration: none" class="non-current-nav">调研楼盘信息管理</a> &nbsp;<i
            class="non-current-nav">/ </i> <a href="javascript:" style="text-decoration: none"
                                              class="current-nav-strong">新增楼盘信息</a>
    </div>
    <div class="demo-input-suffix">
        <h4>基本信息</h4>
        <el-form :inline="true" label-width="120px" :model="buildingInfo" ref="buildingInfo" :rules="rules">
            <el-row :gutter="10">
                <el-col :span="6">
                    <el-form-item label="楼盘名称:" prop="buildingname">
                        <el-input v-model="buildingInfo.buildingname" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="2">
                    <el-form-item label="楼盘地址:">
                    </el-form-item>
                </el-col>
                <el-col :span="2">
                    <el-form-item prop="sheng">
                        <el-select v-model="buildingInfo.sheng" style="flex: 1;width:140px;" placeholder="请选择省份"
                                   @change="getCityData">
                            <el-option
                                    v-for="item in addressArray"
                                    :key="item.areacode"
                                    :label="item.areaname"
                                    :value="item.areaname"
                            >
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="2">
                    <el-form-item prop="shi">
                        <el-select v-model="buildingInfo.shi" style="flex: 1;width:140px;" placeholder="请选择市区"
                                   @change="getAreaData">
                            <el-option
                                    v-for="item in cityArray"
                                    :key="item.areacode"
                                    :label="item.areaname"
                                    :value="item.areaname">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="2">
                    <el-form-item prop="qu">
                        <el-select v-model="buildingInfo.qu" style="flex: 1;width:140px;" placeholder="请选择县"
                                   @change="onAreaChanged">
                            <el-option
                                    v-for="item in areaArray"
                                    :key="item.areacode"
                                    :label="item.areaname"
                                    :value="item.areaname">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :span="4">
                    <el-form-item placeholder="请输入详细地址" prop="xxdz">
                        <el-input
                                placeholder="请输入详细地址"
                                v-model="buildingInfo.xxdz"
                                style="width:236px">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="开发商名称:" prop="developer">
                        <el-input v-model="buildingInfo.developer" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="物业名称:" prop="propertymanager">
                        <el-input v-model="buildingInfo.propertymanager" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="物业费:" prop="propertymanagerfee">
                        <el-input v-model="buildingInfo.propertymanagerfee" style="width:260px"></el-input>元
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="楼盘总建面:" prop="totalarea">
                        <el-input v-model="buildingInfo.totalarea" style="width:260px"></el-input>
                        ㎡
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="楼盘容积率:" prop="arearate">
                        <el-input v-model="buildingInfo.arearate" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="楼盘现状:" prop="nowtypeid">
                        <el-select
                                v-model="buildingInfo.nowtypeid"
                                placeholder="请选择楼盘现状类型"
                                style="width:260px">
                            <el-option
                                    v-for="item in carParkRank"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="楼盘总套数:" prop="buildingnumber">
                        <el-input v-model="buildingInfo.buildingnumber" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="楼盘销售均价:" prop="averageprice">
                        <el-input v-model="buildingInfo.averageprice" style="width:260px"></el-input>
                        元
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="开盘时间:" prop="saledate">
                        <el-input v-model="buildingInfo.saledate" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="开盘期数:" prop="saleissue">
                        <el-input v-model="buildingInfo.saleissue" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="首次交房时间:" prop="delivereddate">
                        <el-input v-model="buildingInfo.delivereddate" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="录入人:" prop="intputer">
                        <el-input v-model="buildingInfo.intputer" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="新盘联系人:" prop="contacts">
                        <el-input v-model="buildingInfo.contacts" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="联系人电话:" prop="contactstel">
                        <el-input v-model="buildingInfo.contactstel" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="录入时间:" prop="inputdate">
                        <el-input v-model="buildingInfo.inputdate" style="width:260px"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <h4>停车场信息</h4>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="车位总数量:" prop="carparknumber">
                        <el-input style="width:260px" v-model="buildingInfo.carparknumber"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="车位分层数量:" prop="carparklayernumber">
                        <el-input style="width:260px" v-model="buildingInfo.carparklayernumber"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="车位开盘均价:" prop="carparkprice">
                        <el-input style="width:260px" v-model="buildingInfo.carparkprice"></el-input>
                        元
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="符合贷后管理要求车位数量:" prop="ntcarparknumber">
                        <el-input style="width:260px" v-model="buildingInfo.ntcarparknumber"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="车位配比:" prop="carparkrate">
                        <el-input style="width:260px" v-model="buildingInfo.carparkrate"></el-input>
                        元
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="地上平面车位:" prop="upcarpark">
                        <el-input style="width:260px" v-model="buildingInfo.upcarpark"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="地下平面车位:" prop="downcarpark">
                        <el-input style="width:260px" v-model="buildingInfo.downcarpark"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="平面车位管理费:" prop="carparkfee">
                        <el-input style="width:260px" v-model="buildingInfo.carparkfee"></el-input>
                        元
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="6">
                    <el-form-item label="地上机械车位:" prop="upmacarpark">
                        <el-input style="width:260px" v-model="buildingInfo.upmacarpark"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="地下机械车位:" prop="downmacarpark">
                        <el-input style="width:260px" v-model="buildingInfo.downmacarpark"></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="6">
                    <el-form-item label="平面机械管理费:" prop="mafee">
                        <el-input style="width:260px" v-model="buildingInfo.mafee"></el-input>
                        元
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div style="margin-left: 600px">
            <el-button size="mini">取 消</el-button>
            <el-button size="mini" type="primary" @click="add('buildingInfo')">提 交</el-button>
        </div>
    </div>
</div>

<script src="../../js/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="../../vue/vue.js"></script>
<script src="../../vue/vue-resource.js"></script>
<!--import moment js-->
<script src="../../moment/moment.js"></script>
<!-- import JavaScript -->
<script src="../../vue/index.js"></script>
<script src="../../js/index.js"></script>
<script src="../../js/util.js"></script>
<script src="../../js/BuildingInfo/AddBuildingInfo.js"></script>
</body>
</html>