<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="../../css/index.css">
    <style>
        /* 隐藏未编译的变量 */

        [v-cloak] {
            display: none;
        }

        /*分页样式*/
        .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
            margin: 0 5px;
            background-color: #e0e0fa;
            color: #5a5e66;
            min-width: 30px;
            border-radius: 2px;
        }

        .activeDate {
            color: #65a3ed;
            background-color: #e3f2f2;
        }
    </style>
</head>
<body>
<div id="app" v-cloak style="width:100%;background-color: #ffffff;padding-top:10px">
    <div style="float:right;margin-right:20px;margin-top:20px;">
        <el-row>
            <el-button type="success" @click="exportData">导出</el-button>
            <el-button type="primary" style="margin-left:25px;" @click="search">查询</el-button>
            <el-button type="primary" plain icon="el-icon-plus" style="margin-left:25px;" @click="add">添加</el-button>
        </el-row>
    </div>
    <div style="margin-left:20px;">
        <div class="demo-input-suffix">
            <span>楼盘名称：</span>
            <el-input
                    placeholder="请输入楼盘名称"
                    v-model="buildingInfoVo.name"
                    style="width:215px">
            </el-input>
            <span>楼盘地址：</span>
            <el-select v-model="address.sheng" style="flex: 1;width:170px;" placeholder="请选择省份" @change="getCityData">
                <el-option
                        v-for="item in addressArray"
                        :key="item.areacode"
                        :label="item.areaname"
                        :value="item.areaname"
                >
                </el-option>
            </el-select>
            <el-select v-model="address.shi" style="flex: 1;width:170px;" placeholder="请选择市区"
                       @change="getAreaData">
                <el-option
                        v-for="item in cityArray"
                        :key="item.areacode"
                        :label="item.areaname"
                        :value="item.areaname">
                </el-option>
            </el-select>
            <el-select v-model="address.qu" style="flex: 1;width:170px;" placeholder="请选择县"
                       @change="onAreaChanged">
                <el-option
                        v-for="item in areaArray"
                        :key="item.areacode"
                        :label="item.areaname"
                        :value="item.areaname">
                </el-option>
            </el-select>
        </div>
        <div class="demo-input-suffix" style="margin-top:20px;">
            <span>楼盘现状：</span>
            <el-select
                    v-model="buildingInfoVo.nowTypeId"
                    placeholder="请选择楼盘现状信息"
                    style="width:210px">
                <el-option
                        v-for="item in nowType"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
            <el-button size="small" class="selectToday" @click="selectToday">今日</el-button>
            <el-button size="small" class="selectVueWeek" @click="selectVueWeek">本周</el-button>
            <el-button size="small" class="selectVueMonth" @click="selectVueMonth">本月</el-button>
            <el-button size="small" class="selectVueYear" @click="selectVueYear">全年</el-button>
            <el-date-picker
                    v-model="dateRange"
                    :picker-options="pickerOptions"
                    type="daterange"
                    value-format='yyyy-MM-dd'
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期">
            </el-date-picker>

        </div>

        <el-table
                @cell-mouse-enter="getRow"
                ref="singvarable"
                :data="tableData"
                highlight-current-row
                style="width:100%;margin-top:20px;">
            <el-table-column
                    type="index"
                    min-width="9%">
            </el-table-column>
            <el-table-column
                    property="buildingname"
                    label="楼盘名称"
                    min-width="20%">
            </el-table-column>
            <el-table-column
                    property="buildingaddr"
                    label="楼盘地址"
                    min-width="26%">
            </el-table-column>
            <el-table-column
                    property="nowtypeid"
                    label="现状类型"
                    min-width="15%">
            </el-table-column>
            <el-table-column
                    property="addtime"
                    label="添加时间"
                    min-width="15%">
            </el-table-column>
            <el-table-column
                    label="操作"
                    min-width="15%">
                <el-button type="text" size="medium" icon="el-icon-edit" @click="editBuildingInfo()">修改</el-button>
                <el-button type="text" size="medium" icon="el-icon-devare" @click="deleteBuildingInfo()">删除</el-button>
            </el-table-column>
        </el-table>
        <!--分页-->
        <div class="block" style="display:block;margin-top: 10px;">
            <el-pagination align='center' background
                           @size-change="handleSizeChange"
                           @current-change="handleCurrentChange"
                           :current-page="currentPage"
                           :page-sizes="[1,5,10,20,50]"
                           :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="totalCount">
            </el-pagination>
        </div>
        <br><br><br>
    </div>

</div>
<script src="../../js/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="../../vue/vue.js"></script>
<script src="../../vue/vue-resource.js"></script>
<!--import moment js-->
<script src="../../moment/moment.js"></script>
<!-- import JavaScript -->
<script src="../../vue/index.js"></script>
<script src="../../js/util.js"></script>
<script src="../../js/BuildingInfo/BuildingInfo.js"></script>
</body>
</html>