<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="../pages/image/favicon.ico"/>
    <link rel="Bookmark" href="../pages/image/favicon.ico">
    <link rel="Shortcut Icon" href="../pages/image/favicon.ico"/>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../pages/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../pages/css/notie.css" media="all"/>
    <link rel="stylesheet" href="../pages/css/main/main.css" media="all">
    <link rel="stylesheet" href="../pages/css/font-awesome-4.7.0/css/font-awesome.min.css">

    <title>中医治未病健康管理系统</title>
    <meta name="keywords" content="cdxt ST HNMS 成都信通医院护理管理系统">
    <meta name="description" content="cdxt HNMS 是由成都信通网易医疗科技发展有限公司开发的针对医院护理管理系统进行全方位护理管理的信息系统">
</head>

<body>
<div class="layui-layout layui-layout-admin" style="border-bottom: solid 5px #1B70B8;">
    <div class="layui-header header header-demo" id="userInfo">
        <div class="layui-main">
            <div class="admin-login-box">
                <a class="logo" style="left: 0;" href="main.html">
                    <img src="../image/logo3.png">
                </a>
                <div class="admin-side-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="admin-side-full">
                    <i class="fa fa-life-bouy" aria-hidden="true"></i>
                </div>
            </div>
            <ul class="layui-nav admin-header-item">
                <li class="layui-nav-item">
                    <a href="javascript:;">{{sysdate}}</a>
                </li>
                <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">科室：{{user.deptName}}&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
                <!--<dl class="layui-nav-child">-->
                <!--<dd>-->
                <!--<a href="javascript:;" @click="changeDept()"><i class="fa fa-lock" style="width:13px;padding-left:12px"></i>切换科室</a>-->
                <!--</dd>-->
                <!--</dl>-->
                <!--</li>-->
                <li class="layui-nav-item">
                    <a href="javascript:;">用户：{{user.userAlias}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" @click="lock()"><i class="fa fa-lock"
                                                                      style="width:13px;padding-left:12px"></i> 锁定</a>
                        </dd>
                        <dd>
                            <a href="javascript:;" @click="logout()"><i class="fa fa-sign-out"
                                                                        style="width:13px;padding-left:12px"></i> 注销</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item" style="margin: 0 5px 0 0;display: none">
                    <a href="#" title="提醒"><i class="fa fa-envelope-o"></i><span class="layui-badge badge">1</span></a>
                </li>
            </ul>
            <ul class="layui-nav admin-header-item-mobile">
                <li class="layui-nav-item">
                    <a href="#" @click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black" id="admin-side">
        <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side">
        </div>
    </div>
    <div class="layui-body" style="bottom: 0;border-left: solid 2px #1B70B8;" id="admin-body">
        <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    <i class="fa fa-dashboard" aria-hidden="true"></i>
                    <cite>首页</cite>
                    <i class="layui-icon layui-unselect layui-tab-close" data-id="0">ဆ</i>
                </li>
            </ul>
            <!--<div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">-->
            <!--<div class="layui-tab-item layui-show">-->
            <!--<iframe src="index-hnms.html" data-id="0"></iframe>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>
</div>
<div id="messageTemplate" hidden="hidden">
    <form class="layui-form layui-form-pane" id="infectionReportForm" lay-filter="infectionReportForm">
        <table border="1px" align="center" style="width: 96%;border-color:#C2C2C2;table-layout: fixed">
            <tr>
                <td colspan="4">
                    <label class="layui-form-label">消息类型：</label>
                    <div class="layui-input-block">
                        <input name="title" class="layui-input" type="text"
                               v-model="message.msgTypeStr"
                               readonly="readonly">
                    </div>
                </td>
                <td colspan="4">
                    <label class="layui-form-label">消息对象：</label>
                    <div class="layui-input-block">
                        <input name="date" class="layui-input" type="text" v-model="message.receivePerson"
                               readonly="readonly">
                    </div>
                </td>
                <td colspan="4">
                    <label class="layui-form-label">消息来源：</label>
                    <div class="layui-input-block">
                        <input name="title" class="layui-input" type="text" v-model="message.sendSource"
                               readonly="readonly">
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td colspan="12" style="text-align: left;vertical-align:text-top">
                    <div class="layui-form-item layui-form-text" style="margin-bottom: 0px">
                        <label class="layui-form-label">消息内容：</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea" readonly="readonly" v-html="message.msgContent"
                            ></textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <label class="layui-form-label">发送日期：</label>
                    <div class="layui-input-block">
                        <input name="title" class="layui-input" type="text"
                               v-model="message.sendTime"
                               readonly="readonly">
                    </div>
                </td>
                <td colspan="4">
                    <label class="layui-form-label">发送部门：</label>
                    <div class="layui-input-block">
                        <input name="title" class="layui-input" type="text"
                               v-model="message.age"
                               readonly="readonly">
                    </div>
                </td>
                <td colspan="4">
                    <label class="layui-form-label">发送人：</label>
                    <div class="layui-input-block">
                        <input name="title" class="layui-input" type="text"
                               v-model="message.sendPerson"
                               readonly="readonly">
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="../pages/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../pages/layui/layui.js"></script>
<script type="text/javascript" src="../pages/notie/notie.js"></script>
<script type="text/javascript" src="../pages/vue/vue.js"></script>
<script type="text/javascript" src="../pages/vue/vue-resource.js"></script>
<script type="text/javascript" src="../pages/js/util.js"></script>
<script type="text/javascript" src="../pages/js/main.js"></script>
</body>
</html>