<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>楼盘停车场勘查信息</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="../../css/index.css">
    <style>
        /* 隐藏未编译的变量 */

        [v-cloak] {
            display: none;
        }

        /*分页样式*/
        .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
            margin: 0 5px;
            background-color: #e0e0fa;
            color: #5a5e66;
            min-width: 30px;
            border-radius: 2px;
        }

        .activeDate {
            color: #65a3ed;
            background-color: #e3f2f2;
        }
    </style>
</head>
<body>
<div id="app" v-cloak style="width:100%;background-color: #ffffff;padding-top:10px">
    <div id="left" style="width:300px;float:left;">
        <el-input placeholder="请输入内容" class="input-with-select">
            <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
        <div v-for="o in 4" :key="o" class="text item">
            {{'列表内容 ' + o }}
        </div>
    </div>
    <div id="right" style="width:1500px;float:left;">
        <el-row>
            <el-button type="success" @click="exportData">修改</el-button>
            <el-button type="primary" plain icon="el-icon-delete" @click="add">添加</el-button>
            <el-button type="success" @click="exportData">导出</el-button>
            <el-button type="primary" plain icon="el-icon-plus" style="margin-left:25px;" @click="add">添加
            </el-button>
        </el-row>
        <el-row :gutter="10">
            <span>录入人：</span>
            <span>张三</span>
            <span>&nbsp&nbsp&nbsp</span>
            <span>录入时间：</span>
            <span>2019-12-19</span>
        </el-row>
        <el-row :gutter="10">
            <el-col :span="6">
                楼盘名称:
                <el-input v-model="buildingInfo.buildingname" style="width:260px"></el-input>
            </el-col>
            <el-col :span="2">
                楼盘地址:
            </el-col>
            <el-col :span="2">
                <el-select v-model="caddress.sheng" style="flex: 1;width:155px;" placeholder="请选择省份"
                           @change="getCityData">
                    <el-option
                            v-for="item in addressArray"
                            :key="item.areacode"
                            :label="item.areaname"
                            :value="item.areaname"
                    >
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="2">
                <el-select v-model="caddress.shi" style="flex: 1;width:155px;" placeholder="请选择市区"
                           @change="getAreaData">
                    <el-option
                            v-for="item in cityArray"
                            :key="item.areacode"
                            :label="item.areaname"
                            :value="item.areaname">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="2">
                <el-select v-model="caddress.qu" style="flex: 1;width:155px;" placeholder="请选择县"
                           @change="onAreaChanged">
                    <el-option
                            v-for="item in areaArray"
                            :key="item.areacode"
                            :label="item.areaname"
                            :value="item.areaname">
                    </el-option>
                </el-select>
            </el-col>
            <el-col :span="4">
                详细地址
            </el-col>
        </el-row>
    </div>
</div>
<script src="../../js/jquery.min.js"></script>
<!-- import Vue before Element -->
<script src="../../vue/vue.js"></script>
<script src="../../vue/vue-resource.js"></script>
<!--import moment js-->
<script src="../../moment/moment.js"></script>
<!-- import JavaScript -->
<script src="../../vue/index.js"></script>
<script src="../../js/util.js"></script>
<script>
    var _minDate = new Date();
    var _maxDate = new Date();
    var date = new Date();
    var Vue = new Vue({
        el: '#app',
        data() {
            return {
                totalCount: 0,
                currentPage: 1,
                pageSize: 5,
                tableData: [],
                //默认值设置，可为空
                caddress: {
                    sheng: '',
                    shi: '',
                    qu: '',
                },
                carParkRank: [
                    {label: 'A', value: '1'},
                    {label: 'B', value: '2'},
                    {label: 'C', value: '3'},
                    {label: 'D', value: '4'}
                ],
                buildingInfo: {
                    buildingname: '',
                    developer: '',
                    propertymanager: '',
                    propertymanagerfee: '',
                    totalarea: 0,
                    arearate: 0,
                    nowtypeid: 0,
                    buildingnumber: 0,
                    averageprice: 0,
                    saledate: date,
                    saleissue: '',
                    delivereddate: date,
                    intputer: '',
                    contacts: '',
                    contactstel: '',
                    inputdate: date
                },
                carparkName: '',//停车场名称
                areaJson: '/json/address.json',
                addressArray: [],//所有数据
                cityArray: [],
                areaArray: [],
                carParkRankValue: '',//评级
                dateRange: [],//默认选择日期范围
                pickerOptions: {//日期选择参数
                    onPick(time) {
                        //如果只选择一个时间
                        if (!time.maxDate) {
                            // var timeRange = 6 * 24 * 60 * 60 * 1000; //6天
                            // _minDate = time.minDate.getTime() - timeRange;
                            // _maxDate = time.minDate.getTime() + timeRange;
                            //选择了两个时间
                        } else {
                            _minDate = _maxDate = null;
                        }
                    }, disabledDate(time) {//不显示的时间
                        if (_minDate && _maxDate) {
                            return time.getTime() < _minDate || time.getTime() > _maxDate
                        }
                    }
                }
            }
        },
        mounted: function () {
            Vue.nextTick(function () {
                Vue.getAddressData();
                Vue.getResource();
            })
        },
        methods: {
            getResource() {//分页查询所有数据
                var minDate = '';
                var maxDate = '';
                if (Vue.dateRange != null && Vue.dateRange.length > 0) {
                    minDate = Vue.dateRange[0];
                    maxDate = Vue.dateRange[1];
                }
                Vue.$resource(contextPath + '/carpark/getAllCarparkByPage', {
                    carparkname: Vue.carparkName,//停车场名称
                    carparkrank: Vue.carParkRankValue,//等级
                    carparkaddress: Vue.caddress.sheng + Vue.caddress.shi + Vue.caddress.qu,//停车场地址
                    minDate: minDate,//开始时间
                    maxDate: maxDate,//结束时间
                    currentPage: Vue.currentPage,//当前页
                    pageSize: Vue.pageSize//每页条数
                }).query().then(function (response) {
                    Vue.tableData = response.data.data.list;
                    Vue.totalCount = response.data.data.total;
                }).catch(function () {
                    Vue.showMsgError("角色查询错误");
                });
            },
            search() {//模糊查询
                Vue.currentPage = 1;//当前页
                Vue.getResource();
            },
            add() {//添加
                window.location.href = contextPath + "/rems/AddBuildingInfo.html";
            },
            exportData() {//导出

            },
            getAddressData() {
                var that = Vue;
                Vue.$http.get(contextPath + Vue.areaJson).then(function (response) {
                    if (response.status === 200) {
                        //获取地址
                        that.addressArray = response.data.data;
                        //默认值赋值获取城市数组
                        if (that.caddress.sheng) {
                            for (var ad of that.addressArray) {
                                if (ad.areaname === that.caddress.sheng) {
                                    that.cityArray = ad.subarea;
                                    //---
                                    //默认赋值获取区域数组
                                    if (that.caddress.shi) {
                                        for (var area of that.cityArray) {
                                            if (area.areaname === that.caddress.shi) {
                                                that.areaArray = area.subarea;
                                                break;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                })
            },
            //选择省份
            getCityData(val) {
                //清空市，和区
                Vue.caddress.shi = '';
                Vue.caddress.qu = '';
                Vue.$emit('change', Vue.caddress);//发送改变
                for (var ad of Vue.addressArray) {
                    if (ad.areaname === val) {
                        Vue.cityArray = ad.subarea;
                        return
                    }
                }
            },
            getAreaData(val) {
                //清空区
                Vue.caddress.qu = '';
                Vue.$emit('change', Vue.caddress);//发送改变
                for (var area of Vue.cityArray) {
                    if (area.areaname === val) {
                        Vue.areaArray = area.subarea;
                        return
                    }
                }
            },
            //地区数据变动后
            onAreaChanged(val) {
                Vue.$emit('change', Vue.caddress);//发送改变
            },
            handleSizeChange: function (size) { //分页    初始页currentPage、初始每页数据数pagesize和数据testpage
                Vue.pageSize = size;
                Vue.getResource();
            },
            handleCurrentChange: function (currentPage) {
                Vue.currentPage = currentPage;
                Vue.getResource();
            },
            selectToday(arr) {//选择今日
                $(".selectToday").addClass("activeDate");
                $(".selectVueYear").removeClass("activeDate");
                $(".selectVueMonth").removeClass("activeDate");
                $(".selectVueWeek").removeClass("activeDate");
                var obj = {
                    starttime: '',
                    endtime: ''
                }
                obj.starttime = moment(new Date().valueOf()).format('YYYY-MM-DD');
                obj.endtime = obj.starttime;
                Vue.dateRange = [obj.starttime, obj.endtime];
            },
            selectVueWeek() {//选择本周
                $(".selectVueWeek").addClass("activeDate");
                $(".selectVueYear").removeClass("activeDate");
                $(".selectVueMonth").removeClass("activeDate");
                $(".selectToday").removeClass("activeDate");
                var obj = {
                    starttime: '',
                    endtime: ''
                }
                obj.starttime = moment(moment().week(moment().week()).startOf('week').add(1, 'days').valueOf()).format('YYYY-MM-DD')
                obj.endtime = moment(moment().week(moment().week()).endOf('week').add(1, 'days').valueOf()).format('YYYY-MM-DD');
                Vue.dateRange = [obj.starttime, obj.endtime];
            },
            selectVueMonth() {//选择本月
                $(".selectVueMonth").addClass("activeDate");
                $(".selectVueYear").removeClass("activeDate");
                $(".selectVueWeek").removeClass("activeDate");
                $(".selectToday").removeClass("activeDate");
                var obj = {
                    starttime: '',
                    endtime: ''
                }
                obj.starttime = moment(moment().month(moment().month()).startOf('month').valueOf()).format('YYYY-MM-DD');
                obj.endtime = moment(moment().month(moment().month()).endOf('month').valueOf()).format('YYYY-MM-DD');
                Vue.dateRange = [obj.starttime, obj.endtime];
            },
            selectVueYear() {//选择本年
                $(".selectVueYear").addClass("activeDate");
                $(".selectVueMonth").removeClass("activeDate");
                $(".selectVueWeek").removeClass("activeDate");
                $(".selectToday").removeClass("activeDate");
                var obj = {
                    starttime: '',
                    endtime: ''
                }
                obj.starttime = moment(moment().year(moment().year()).startOf('year').valueOf()).format('YYYY-MM-DD');
                obj.endtime = moment(moment().year(moment().year()).endOf('year').valueOf()).format('YYYY-MM-DD');
                Vue.dateRange = [obj.starttime, obj.endtime];
            }
        }
    })
</script>
</body>
</html>